body {
   background-color:#F9F9F9;
   padding:0;
   margin:0px;
}

#menu {
    width:100%;
    background-color:black;


}
#menu1 {
    width:100%;
     width: 990px;
     margin: 0 auto;
     height:150px;
}
#menu2 {
    color: #FFFFFF;
    float: right;
    margin-top: 110px;

}

#menu2 a {
  color: #FFFFFF;
    float: left;
    font-family: 'Trebuchet MS';
    font-size: 21px;
    font-style: inherit;
    font-weight: 200;
    margin-right: 15px;
    text-decoration: none;
    padding-bottom:5px;
}
#menu2 a:hover {
 border-bottom: 3px solid #65B561;

}
 .active {
border-bottom: 3px solid #007DB1;

    }

.ql {
    float: right;
    width: 230px;
}

h1 {
margin-top:10px;
}
.lcol {
    float: left;
    margin-top: 19px;
    padding-left: 38px;
    width: 700px;
}

.qla {
    color: #00689D;
    font-size: 21px;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: center;
}


.Seattle {
    color: #FFFFFF;
    float: left;
    font-family: sans-serif;
    font-size: 45px;
    font-weight: bold;
    left: -48px;
    margin-top: 37px;
position:relative;
}

#page-wrap {
    background-color:white;
     width: 990px;
     margin: 0 auto;
}

#slider ul li {
    height:400px;
}



    blockquote, q {
    quotes: none;
}

h3.widget-title {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #666666;
    font-size: 14px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-top: 6px;
    text-transform: uppercase;
}
blockquote p {
    background-color: #8699AA;
    color: #FFFFFF;
    padding: 15px;
}
p {
    line-height: 20px;
    margin: 0 0 10px;
    padding-bottom: 5px;
}

blockquote, q {
    margin: 0;
    quotes: none;
}
footer
{
     float:left;
     width:100%;


}

footer a
{
    color:#6A6A6A;
}

.footer-left
{ float:left;

}

.footer-right
{ float:right;

}


h1 {
    color: #65b561;
    font-size: 42px;
}

h2 {
    color: #007DB1;
    font-size: 30px;
}


